# Docker compose env file
# https://docs.docker.com/compose/env-file/
# https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_FILE=docker-compose.yml
COMPOSE_PROJECT_NAME=chatopera.feishu
APP_ID=
APP_SECRET=
APP_VERIFICATION_TOKEN=
CHATOPERA_CLIENT_ID=
CHATOPERA_SECRET=
